# system
*.egg-info/
__pycache__/
*.py[cod]
*.eggs
build
.vscode
cc.*

#user-defined
DATA/FUNSD/testing_data
DATA/FUNSD/training_data
DATA/PAU
_old
*.env
outputs
FUDGE
configs/preprocessing.yaml
esempi
examples
fastText
src/models/yolo