attrdict==2.0.1
itsdangerous==2.0.1
numpy==1.21.3
Pillow==9.1.0
PyYAML==6.0
scikit_learn==1.0.2
setuptools==59.2.0
setuptools_git_versioning==1.9.2
spacy==3.4.0
pydantic==1.9.1
python-dotenv==0.20.0
gitpython==2.1.7
gitdb2==3.0.1
matplotlib==3.5.2
segmentation-models-pytorch==0.2.1
fasttext==0.9.2
dglgo==0.0.1
dgl==0.6.1
networkx==2.8.4
torch==1.12.0
torchvision==0.13.0
